/ - - - - - - - - - - - - - Revolution Slider - - - - - - - - - - - - - - - -
.rev-slider-wrapper
  #rev-slider.rev-slider{"data-version" => "5.0"}
    %ul
      %li{"data-transition" => "fade"}
        %img.rev-slidebg{:alt => "", :src => "#{asset_path 'stock/1920x925_bg1.jpg'}"}/
        / - - - - - - - - - - - - - Layer 1 - - - - - - - - - - - - - - - -
        .tp-caption.tp-resizeme.scaption-white-medium{"data-elementdelay" => "0.05", "data-frames" => "[{\"delay\":150,\"speed\":2000,\"frame\":\"0\",\"from\":\"y:50px;opacity:0;\",\"to\":\"o:1;\",\"ease\":\"Power3.easeOut\"},{\"delay\":\"wait\",\"speed\":1000,\"frame\":\"999\",\"to\":\"y:[175%];\",\"mask\":\"x:inherit;y:inherit;s:inherit;e:inherit;\",\"ease\":\"Power2.easeInOut\"}]", "data-hoffset" => "['0','0','0','0']", "data-responsive_offset" => "on", "data-voffset" => "-200", "data-whitespace" => "nowrap", "data-x" => "['center','center','center','center']", "data-y" => "['middle','middle','middle','middle']"}
          Не знаете, к кому обратиться?
        / - - - - - - - - - - - - - End of Layer 1 - - - - - - - - - - - - - - - -
        / - - - - - - - - - - - - - Layer 2 - - - - - - - - - - - - - - - -
        .tp-caption.tp-resizeme.scaption-white-large2{"data-elementdelay" => "0.05", "data-frames" => "[{\"delay\":450,\"speed\":2000,\"frame\":\"0\",\"from\":\"y:50px;opacity:0;\",\"to\":\"o:1;\",\"ease\":\"Power3.easeOut\"},{\"delay\":\"wait\",\"speed\":1000,\"frame\":\"999\",\"to\":\"y:[175%];\",\"mask\":\"x:inherit;y:inherit;s:inherit;e:inherit;\",\"ease\":\"Power2.easeInOut\"}]", "data-hoffset" => "['0','0','0','0']", "data-responsive_offset" => "on", "data-voffset" => "-125", "data-whitespace" => "nowrap", "data-x" => "['center','center','center','center']", "data-y" => "['middle','middle','middle','middle']"}
          МЫ МОЖЕМ ПОМОЧЬ!
        / - - - - - - - - - - - - - End of Layer 2 - - - - - - - - - - - - - - - -
        / - - - - - - - - - - - - - Layer 2 - - - - - - - - - - - - - - - -
        .tp-caption.tp-resizeme{"data-elementdelay" => "0.05", "data-frames" => "[{\"delay\":450,\"speed\":2000,\"frame\":\"0\",\"from\":\"y:50px;opacity:0;\",\"to\":\"o:1;\",\"ease\":\"Power3.easeOut\"},{\"delay\":\"wait\",\"speed\":1000,\"frame\":\"999\",\"to\":\"y:[175%];\",\"mask\":\"x:inherit;y:inherit;s:inherit;e:inherit;\",\"ease\":\"Power2.easeInOut\"}]", "data-hoffset" => "['0','0','0','0']", "data-responsive_offset" => "on", "data-voffset" => "-20", "data-whitespace" => "nowrap", "data-x" => "['center','center','center','center']", "data-y" => "['middle','middle','middle','middle']"}
          %a.btn.btn-big.btn-style-5{:href => "#contact-form"} Напишите нам ещё сегодня!
        / - - - - - - - - - - - - - End of Layer 2 - - - - - - - - - - - - - - - -
      %li{"data-transition" => "fade"}
        %img.rev-slidebg{:alt => "", :src => "#{asset_path 'stock/1920x925_bg2.jpg'}"}/
        / - - - - - - - - - - - - - Layer 1 - - - - - - - - - - - - - - - -
        .tp-caption.tp-resizeme.scaption-dark-large{"data-elementdelay" => "0.05", "data-frames" => "[{\"delay\":150,\"speed\":2000,\"frame\":\"0\",\"from\":\"y:50px;opacity:0;\",\"to\":\"o:1;\",\"ease\":\"Power3.easeOut\"},{\"delay\":\"wait\",\"speed\":1000,\"frame\":\"999\",\"to\":\"y:[175%];\",\"mask\":\"x:inherit;y:inherit;s:inherit;e:inherit;\",\"ease\":\"Power2.easeInOut\"}]", "data-hoffset" => "30", "data-responsive_offset" => "on", "data-voffset" => "-170", "data-whitespace" => "nowrap", "data-x" => "['left','left','left','left']", "data-y" => "['middle','middle','middle','middle']"}
          Выигранных исков на миллиарды 
          %br/
          рублей для наших клиентов!
        / - - - - - - - - - - - - - End of Layer 1 - - - - - - - - - - - - - - - -
        / - - - - - - - - - - - - - Layer 2 - - - - - - - - - - - - - - - -
        .tp-caption.tp-resizeme{"data-elementdelay" => "0.05", "data-frames" => "[{\"delay\":450,\"speed\":2000,\"frame\":\"0\",\"from\":\"y:50px;opacity:0;\",\"to\":\"o:1;\",\"ease\":\"Power3.easeOut\"},{\"delay\":\"wait\",\"speed\":1000,\"frame\":\"999\",\"to\":\"y:[175%];\",\"mask\":\"x:inherit;y:inherit;s:inherit;e:inherit;\",\"ease\":\"Power2.easeInOut\"}]", "data-hoffset" => "30", "data-responsive_offset" => "on", "data-voffset" => "-50", "data-whitespace" => "nowrap", "data-x" => "['left','left','left','left']", "data-y" => "['middle','middle','middle','middle']"}
          %a.btn.btn-big.btn-style-5{:href => "#contact-form"} Получить бесплатную консультацию
        / - - - - - - - - - - - - - End of Layer 2 - - - - - - - - - - - - - - - -
      %li{"data-transition" => "fade"}
        %img.rev-slidebg{:alt => "", :src => "#{asset_path 'stock/1920x925_bg3.jpg'}"}/
        / - - - - - - - - - - - - - Layer 1 - - - - - - - - - - - - - - - -
        .tp-caption.tp-resizeme.scaption-white-large{"data-elementdelay" => "0.05", "data-frames" => "[{\"delay\":150,\"speed\":2000,\"frame\":\"0\",\"from\":\"y:50px;opacity:0;\",\"to\":\"o:1;\",\"ease\":\"Power3.easeOut\"},{\"delay\":\"wait\",\"speed\":1000,\"frame\":\"999\",\"to\":\"y:[175%];\",\"mask\":\"x:inherit;y:inherit;s:inherit;e:inherit;\",\"ease\":\"Power2.easeInOut\"}]", "data-hoffset" => "750", "data-responsive_offset" => "on", "data-voffset" => "-180", "data-whitespace" => "nowrap", "data-x" => "['left','left','left','left']", "data-y" => "['middle','middle','middle','middle']"}
          Когда опыт
          %br/
          превыше всего!
        / - - - - - - - - - - - - - End of Layer 1 - - - - - - - - - - - - - - - -
        / - - - - - - - - - - - - - Layer 2 - - - - - - - - - - - - - - - -
        .tp-caption.tp-resizeme.scaption-white-small{"data-elementdelay" => "0.05", "data-frames" => "[{\"delay\":450,\"speed\":2000,\"frame\":\"0\",\"from\":\"y:50px;opacity:0;\",\"to\":\"o:1;\",\"ease\":\"Power3.easeOut\"},{\"delay\":\"wait\",\"speed\":1000,\"frame\":\"999\",\"to\":\"y:[175%];\",\"mask\":\"x:inherit;y:inherit;s:inherit;e:inherit;\",\"ease\":\"Power2.easeInOut\"}]", "data-hoffset" => "750", "data-responsive_offset" => "on", "data-voffset" => "-80", "data-whitespace" => "nowrap", "data-x" => "['left','left','left','left']", "data-y" => "['middle','middle','middle','middle']"}
          %p
            Мы супер-адвокаты. Пол Гудмэн нам бы позавидовал.
            %br/
            Как тебя зовут, сынок? Мазафака меня зовут!
        / - - - - - - - - - - - - - End of Layer 2 - - - - - - - - - - - - - - - -
        / - - - - - - - - - - - - - Layer 2 - - - - - - - - - - - - - - - -
        .tp-caption.tp-resizeme{"data-elementdelay" => "0.05", "data-frames" => "[{\"delay\":750,\"speed\":2000,\"frame\":\"0\",\"from\":\"y:50px;opacity:0;\",\"to\":\"o:1;\",\"ease\":\"Power3.easeOut\"},{\"delay\":\"wait\",\"speed\":1000,\"frame\":\"999\",\"to\":\"y:[175%];\",\"mask\":\"x:inherit;y:inherit;s:inherit;e:inherit;\",\"ease\":\"Power2.easeInOut\"}]", "data-hoffset" => "750", "data-responsive_offset" => "on", "data-voffset" => "20", "data-whitespace" => "nowrap", "data-x" => "['left','left','left','left']", "data-y" => "['middle','middle','middle','middle']"}
          %a.btn.btn-big.btn-style-2{:href => "#contact-form"} Напишите нам!
        / - - - - - - - - - - - - - End of Layer 2 - - - - - - - - - - - - - - - -
  .brand-holder
    .container.extra
      .flex-row.flex-justify.flex-center
        %a{:href => "#"}
          %img{:alt => "", :src => "#{asset_path 'stock/brand1.png'}"}/
        %a{:href => "#"}
          %img{:alt => "", :src => "#{asset_path 'stock/brand2.png'}"}/
        %a{:href => "#"}
          %img{:alt => "", :src => "#{asset_path 'stock/brand3.png'}"}/
        %a{:href => "#"}
          %img{:alt => "", :src => "#{asset_path 'stock/brand4.png'}"}/
        %a{:href => "#"}
          %img{:alt => "", :src => "#{asset_path 'stock/brand5.png'}"}/
/ - - - - - - - - - - - - - End of Slider - - - - - - - - - - - - - - - -
.call-out
  .container.extra
    .flex-row.flex-justify.flex-center
      %h2 Застукала любовница с женой?
      %a.btn.btn-big.btn-style-6{:href => "#contact-form"} Мы можем помочь!
/ page section
.page-section
  .container.extra
    .content-element5
      .align-center
        .pre-title Наши области
        %h2.section-title
          Как мы можем Вам помочь
          %span.item-divider-3.style-3
    .carousel-type-2
      .owl-carousel.services.flex-row{"data-item-margin" => "30", "data-max-items" => "4"}
        / owl item
        .owl-item
          / service item
          .service-item
            %figure
              %img{:alt => "", :src => "#{asset_path 'stock/289x224_img1.jpg'}"}
              .service-body
                %h5.service-title
                  %a{:href => "#"} Угнали машину
                %p Поможем с получением страховых выплат. Гарант запрещает аккредитив. Коносамент анонимно формирует товарный кредит.
                %a.info-btn{:href => "#"} Читать далее
          / owl item
        .owl-item
          / service item
          .service-item
            %figure
              %img{:alt => "", :src => "#{asset_path 'stock/289x224_img2.jpg'}"}
              .service-body
                %h5.service-title
                  %a{:href => "#"} Анально покарали?
                %p Поможем купить вазелин. Гарант запрещает аккредитив. Делькредере реквизирует незаконный задаток. Коносамент анонимно формирует товарный кредит.
                %a.info-btn{:href => "#"} Читать далее
        / owl item
        .owl-item
          / service item
          .service-item
            %figure
              %img{:alt => "", :src => "#{asset_path 'stock/289x224_img3.jpg'}"}
              .service-body
                %h5.service-title
                  %a{:href => "#"} Дали пизды во дворе?
                %p Засудим гопоту. Субъект наследует акцепт, что не имеет аналогов в англо-саксонской правовой системе.
                %a.info-btn{:href => "#"} Читать далее
        / owl item
        .owl-item
          / service item
          .service-item
            %figure
              %img{:alt => "", :src => "#{asset_path 'stock/289x224_img4.jpg'}"}
              .service-body
                %h5.service-title
                  %a{:href => "#"} Жена не хочет делать минет?
                %p Засунем ей по самые гланды. Фрахтование по определению законодательно подтверждает акцепт, даже с учетом публичного характера данных правоотношений.
                %a.info-btn{:href => "#"} Читать далее
      .align-center
        %a.btn{:href => "#"} Просмотреть все наши услуги


/ Page section
.page-section-bg2.half-bg-col
  .img-col-left
    .col-bg{"data-bg" => "#{asset_path 'stock/960x840_img1.jpg'}"}
  .container.extra
    .row
      .col-md-6
      .col-md-6
        .pre-title Зачем выбрать Шабансебле?
        %h2.section-title
          3 причины выбрать нас
          %span.item-divider-3.style-3
        .icons-box.style-2
          .row.flex-row
            .col-sm-12
              / - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - -
              .icons-wrap
                .icons-item
                  .item-box
                    %i.licon-balance
                    %h5.icons-box-title
                      %a{:href => "#"} Опыт
                    %p Мы дохуя такие опытные и пиздатые.
            .col-sm-12
              / - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - -
              .icons-wrap
                .icons-item
                  .item-box
                    %i.licon-man
                    %h5.icons-box-title
                      %a{:href => "#"} Концентрируемся на тебе
                    %p Да, сука, на тебе. Не спим ночами, сука, обрабатываем твой кейс.
            .col-sm-12
              / - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - -
              .icons-wrap
                .icons-item
                  .item-box
                    %i.licon-briefcase
                    %h5.icons-box-title
                      %a{:href => "#"} Репутация
                    %p Нам есть что терять. Поэтому мы будем вкалывать.
/ Page section
.page-section-bg2.green.half-bg-col
  .img-col-right
    .col-bg{"data-bg" => "#{asset_path 'stock/960x644_img1.jpg'}"}
  .container.extra
    .row
      .col-md-6
        .pre-title О нас
        %h2.section-title
          Кто мы такие
          %span.item-divider-3.style-3
        %h5.sub-title Опыт, который вам нужен. Результаты, которые вы хотите.
        %p.section-text Субаренда противоречиво запрещает причиненный ущерб. Банкротство недетерминировано трансформирует авторский субъект. Перестрахование неравноправно наследует авторский аккредитив. Следует считать, что при предъявлении регрессного требования движимое имущество опровергает законодательный обычай делового оборота. Безвозмездное изъятие теоретически арендует индоссамент.
        %a.btn{:href => contact_path} Подробнее о нас
      .col-md-6
/ page section
.page-section
  .container
    .content-element5
      .align-center
        .pre-title Наша команда
        %h2.section-title
          Встречайте наших суперзвёзд
          %span.item-divider-3.style-3
        %p
          Преамбула противоречива. Еще в ранних речах А.Ф.Кони показано, 
          %br что аккредитив лицензирует регрессный акцепт. 
    .carousel-type-2
      .owl-carousel.team-holder.style-3{"data-item-margin" => "30", "data-max-items" => "3"}
        / owl item
        .owl-item
          / team member
          .team-item
            .team-member
              %a.member-photo{:href => "#"}
                %img{:alt => "", :src => "#{asset_path 'stock/480x532_photo1.jpg'}"}
                .team-desc
                  .member-info
                    %h5.member-name
                      %a{:href => "#"} Роман Шабансебле
                    %h6.member-position Анальный фискатор
                    %p Судебное решение наследует императивный товарный кредит. При приватизации имущественного комплекса Кодекс использует гражданско-правовой умысел. 
                    %a.btn{:href => "#"} Профиль
        / owl item
        .owl-item
          / team member
          .team-item
            .team-member
              %a.member-photo{:href => "#"}
                %img{:alt => "", :src => "#{asset_path 'stock/480x532_photo2.jpg'}"}
                .team-desc
                  .member-info
                    %h5.member-name
                      %a{:href => "#"} Бредли Хуйсон
                    %h6.member-position Диктатор
                    %p Движимое имущество, как неоднократно наблюдалось при чрезмерном вмешательстве государства в данные правоотношения, недееспособно.
                    %a.btn{:href => "#"} Профиль
        / owl item
        .owl-item
          / team member
          .team-item
            .team-member
              %a.member-photo{:href => "#"}
                %img{:alt => "", :src => "#{asset_path 'stock/480x532_photo3.jpg'}"}
                .team-desc
                  .member-info
                    %h5.member-name
                      %a{:href => "#"} Jessica Priston
                    %h6.member-position Criminal Defense
                    %p Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat
                    %a.btn{:href => "#"} View Profile
/ page section
.page-section-bg{"data-bg" => "#{asset_path 'stock/1920x1000_bg2.jpg'}"}
  .container
    .content-element5
      .align-center
        .pre-title Отзывы
        %h2.section-title
          Что говорят наши клиенты
          %span.item-divider-3.style-3
    / - - - - - - - - - - - - Owl-Carousel - - - - - - - - - - - - - - -
    .carousel-type-1.style-2
      .owl-carousel.testimonial-holder.align-center{"data-autoplay" => "true", "data-item-margin" => "30", "data-max-items" => "1"}
        / Slide
        .item-carousel
          / Carousel Item
          / - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - -
          .testimonial
            %blockquote
              %p Вообще все зашибись. Четкие поцыки. Чикули у них там топовые работают.
              .author Марк Джонсон, Бродяга.
          / /Carousel Item
        / /Slide
        / Slide
        .item-carousel
          / Carousel Item
          / - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - -
          .testimonial
            %blockquote
              %p Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus.
              .author Mark Johnson, Real Estate Client
          / /Carousel Item
        / /Slide
        / Slide
        .item-carousel
          / Carousel Item
          / - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - -
          .testimonial
            %blockquote
              %p Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus.
              .author Mark Johnson, Real Estate Client
          / /Carousel Item
        / /Slide
      .align-center
        %a.btn.btn-style-2{:href => "#"} Ещё больше отзывов
/ page section
.page-section-bg.type-2.parallax-section{"data-bg" => "#{asset_path 'stock/1920x800_bg1.jpg'}"}
  .container.extra
    .row.counter-wrap.style-2
      .col-lg-3.col-md-3.col-xs-6
        .counter
          .count-item
            %span.licon-hammer2
            %h3.timer.count-number{"data-speed" => "1500", "data-to" => "50"} 0
          %p Лет опыта
      .col-lg-3.col-md-3.col-xs-6
        .counter
          .count-item
            %span.licon-happy
            %h3.timer.count-number{"data-speed" => "1500", "data-to" => "389"} 0
          %p Удовлетворённых клиентов
      .col-lg-3.col-md-3.col-xs-6
        .counter
          .count-item
            %span.licon-group-work
            %h3.timer.count-number{"data-speed" => "1500", "data-to" => "15"} 0
          %p Адвокачей в нашей команде
      .col-lg-3.col-md-3.col-xs-6
        .counter
          .count-item
            %span.licon-trophy2
            %h3.timer.count-number{"data-speed" => "1500", "data-to" => "227"} 0
          %p Успешных кейсов
/ page section
.page-section
  .container
    .content-element5
      .align-center
        .pre-title Из нашего блога
        %h2.section-title
          Последние записи
          %span.item-divider-3.style-3
    .entry-box
      .flex-row.row
        -@last_posts.each do |post|
          .col-sm-4.col-xs-6
            / entry
            .entry
              / - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - -
              .thumbnail-attachment
                %a{:href => post_path(post)}
                  -if post.try_images
                    =image_tag post.try_images
                  -else
                    =placeholdit_image_tag '360x202', text: 'No image'
                / - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - -
                .entry-body
                  .entry-meta
                    %time.entry-date{:datetime => post.formatted_date}=post.formatted_date
                    %a.entry-cat{:href => posts_path(category: post.post_category.id)}=post.post_category.title
                  %h5.entry-title
                    %a{:href => post_path(post)}=post.title
      .align-center
        %a.btn{:href => posts_path} Ещё больше новостей
/ Page section
.page-section.half-bg-col.two-cols
  .img-col-left
    .col-bg.left-bg{"data-bg" => "#{asset_path 'stock/960x616_bg1.jpg'}"}
  .img-col-right
    .col-bg.right-bg{"data-bg" => "#{asset_path 'stock/960x616_bg2.jpg'}"}
  .container.extra
    .row
      .col-md-6.col-sm-12.left-col
        .pre-title Помогать там, где это необходимо
        %h2.section-title
          Области в обслуживании
          %span.item-divider-3.style-3
        %p.section-text
          Даже если Вы находитесь в ебенях, мы вас найдем и засудим!
          %br/
          Акционерное общество, в отличие от классического случая, требует Кодекс.
          %br/
          Объект права умышленно вознаграждает объект права. 
        .row
          .col-xs-6
            %ul.custom-list.type-1
              %li
                %a{:href => "#"} Москва
              %li
                %a{:href => "#"} Санкт-Петербург
              %li
                %a{:href => "#"} Оренбург
          .col-xs-6
            %ul.custom-list.type-1
              %li
                %a{:href => "#"} Волгоград
              %li
                %a{:href => "#"} Саранск
              %li
                %a{:href => "#"} Восточный Нью Йорк
      .page-section-bg2.col-md-6.col-sm-12.right-col
        .align-center
          .pre-title Мы тут, чтобы драться за Вас
          %h2.section-title
            Звоните сегодня!
            %span.item-divider-3.style-3
          .content-element3
            %ul.contact-info
              %li.info-item
                .item-info
                  %span{:content => "telephone=no"}=@settings.phone
          .content-element3 или
          %a.btn.btn-big.btn-style-5{:href => "#contact-form"} Запросите бесплатную консультацию
=render partial: 'front/navigation/contact_form'
