/ - - - - - - - - - - - - - Revolution Slider - - - - - - - - - - - - - - - -
.rev-slider-wrapper
  #rev-slider.rev-slider{"data-version" => "5.0"}
    %ul
      %li{"data-transition" => "fade"}
        %img.rev-slidebg{:alt => "", :src => "#{asset_path 'stock/1920x925_bg1.jpg'}"}/
        / - - - - - - - - - - - - - Layer 1 - - - - - - - - - - - - - - - -
        .tp-caption.tp-resizeme.scaption-white-medium{"data-elementdelay" => "0.05", "data-frames" => "[{\"delay\":150,\"speed\":2000,\"frame\":\"0\",\"from\":\"y:50px;opacity:0;\",\"to\":\"o:1;\",\"ease\":\"Power3.easeOut\"},{\"delay\":\"wait\",\"speed\":1000,\"frame\":\"999\",\"to\":\"y:[175%];\",\"mask\":\"x:inherit;y:inherit;s:inherit;e:inherit;\",\"ease\":\"Power2.easeInOut\"}]", "data-hoffset" => "['0','0','0','0']", "data-responsive_offset" => "on", "data-voffset" => "-200", "data-whitespace" => "nowrap", "data-x" => "['center','center','center','center']", "data-y" => "['middle','middle','middle','middle']"}
          Insurer Denying Your Claim?
        / - - - - - - - - - - - - - End of Layer 1 - - - - - - - - - - - - - - - -
        / - - - - - - - - - - - - - Layer 2 - - - - - - - - - - - - - - - -
        .tp-caption.tp-resizeme.scaption-white-large2{"data-elementdelay" => "0.05", "data-frames" => "[{\"delay\":450,\"speed\":2000,\"frame\":\"0\",\"from\":\"y:50px;opacity:0;\",\"to\":\"o:1;\",\"ease\":\"Power3.easeOut\"},{\"delay\":\"wait\",\"speed\":1000,\"frame\":\"999\",\"to\":\"y:[175%];\",\"mask\":\"x:inherit;y:inherit;s:inherit;e:inherit;\",\"ease\":\"Power2.easeInOut\"}]", "data-hoffset" => "['0','0','0','0']", "data-responsive_offset" => "on", "data-voffset" => "-125", "data-whitespace" => "nowrap", "data-x" => "['center','center','center','center']", "data-y" => "['middle','middle','middle','middle']"}
          WE CAN HELP!
        / - - - - - - - - - - - - - End of Layer 2 - - - - - - - - - - - - - - - -
        / - - - - - - - - - - - - - Layer 2 - - - - - - - - - - - - - - - -
        .tp-caption.tp-resizeme{"data-elementdelay" => "0.05", "data-frames" => "[{\"delay\":450,\"speed\":2000,\"frame\":\"0\",\"from\":\"y:50px;opacity:0;\",\"to\":\"o:1;\",\"ease\":\"Power3.easeOut\"},{\"delay\":\"wait\",\"speed\":1000,\"frame\":\"999\",\"to\":\"y:[175%];\",\"mask\":\"x:inherit;y:inherit;s:inherit;e:inherit;\",\"ease\":\"Power2.easeInOut\"}]", "data-hoffset" => "['0','0','0','0']", "data-responsive_offset" => "on", "data-voffset" => "-20", "data-whitespace" => "nowrap", "data-x" => "['center','center','center','center']", "data-y" => "['middle','middle','middle','middle']"}
          %a.btn.btn-big.btn-style-5{:href => "#"} Contact Us Today!
        / - - - - - - - - - - - - - End of Layer 2 - - - - - - - - - - - - - - - -
      %li{"data-transition" => "fade"}
        %img.rev-slidebg{:alt => "", :src => "#{asset_path 'stock/1920x925_bg2.jpg'}"}/
        / - - - - - - - - - - - - - Layer 1 - - - - - - - - - - - - - - - -
        .tp-caption.tp-resizeme.scaption-dark-large{"data-elementdelay" => "0.05", "data-frames" => "[{\"delay\":150,\"speed\":2000,\"frame\":\"0\",\"from\":\"y:50px;opacity:0;\",\"to\":\"o:1;\",\"ease\":\"Power3.easeOut\"},{\"delay\":\"wait\",\"speed\":1000,\"frame\":\"999\",\"to\":\"y:[175%];\",\"mask\":\"x:inherit;y:inherit;s:inherit;e:inherit;\",\"ease\":\"Power2.easeInOut\"}]", "data-hoffset" => "30", "data-responsive_offset" => "on", "data-voffset" => "-170", "data-whitespace" => "nowrap", "data-x" => "['left','left','left','left']", "data-y" => "['middle','middle','middle','middle']"}
          Billions of Dollars
          %br/
          Won For Our Clients
        / - - - - - - - - - - - - - End of Layer 1 - - - - - - - - - - - - - - - -
        / - - - - - - - - - - - - - Layer 2 - - - - - - - - - - - - - - - -
        .tp-caption.tp-resizeme{"data-elementdelay" => "0.05", "data-frames" => "[{\"delay\":450,\"speed\":2000,\"frame\":\"0\",\"from\":\"y:50px;opacity:0;\",\"to\":\"o:1;\",\"ease\":\"Power3.easeOut\"},{\"delay\":\"wait\",\"speed\":1000,\"frame\":\"999\",\"to\":\"y:[175%];\",\"mask\":\"x:inherit;y:inherit;s:inherit;e:inherit;\",\"ease\":\"Power2.easeInOut\"}]", "data-hoffset" => "30", "data-responsive_offset" => "on", "data-voffset" => "-50", "data-whitespace" => "nowrap", "data-x" => "['left','left','left','left']", "data-y" => "['middle','middle','middle','middle']"}
          %a.btn.btn-big.btn-style-5{:href => "#"} Request Free Consultation
        / - - - - - - - - - - - - - End of Layer 2 - - - - - - - - - - - - - - - -
      %li{"data-transition" => "fade"}
        %img.rev-slidebg{:alt => "", :src => "#{asset_path 'stock/1920x925_bg3.jpg'}"}/
        / - - - - - - - - - - - - - Layer 1 - - - - - - - - - - - - - - - -
        .tp-caption.tp-resizeme.scaption-white-large{"data-elementdelay" => "0.05", "data-frames" => "[{\"delay\":150,\"speed\":2000,\"frame\":\"0\",\"from\":\"y:50px;opacity:0;\",\"to\":\"o:1;\",\"ease\":\"Power3.easeOut\"},{\"delay\":\"wait\",\"speed\":1000,\"frame\":\"999\",\"to\":\"y:[175%];\",\"mask\":\"x:inherit;y:inherit;s:inherit;e:inherit;\",\"ease\":\"Power2.easeInOut\"}]", "data-hoffset" => "750", "data-responsive_offset" => "on", "data-voffset" => "-180", "data-whitespace" => "nowrap", "data-x" => "['left','left','left','left']", "data-y" => "['middle','middle','middle','middle']"}
          When Experience
          %br/
          Matters Most!
        / - - - - - - - - - - - - - End of Layer 1 - - - - - - - - - - - - - - - -
        / - - - - - - - - - - - - - Layer 2 - - - - - - - - - - - - - - - -
        .tp-caption.tp-resizeme.scaption-white-small{"data-elementdelay" => "0.05", "data-frames" => "[{\"delay\":450,\"speed\":2000,\"frame\":\"0\",\"from\":\"y:50px;opacity:0;\",\"to\":\"o:1;\",\"ease\":\"Power3.easeOut\"},{\"delay\":\"wait\",\"speed\":1000,\"frame\":\"999\",\"to\":\"y:[175%];\",\"mask\":\"x:inherit;y:inherit;s:inherit;e:inherit;\",\"ease\":\"Power2.easeInOut\"}]", "data-hoffset" => "750", "data-responsive_offset" => "on", "data-voffset" => "-80", "data-whitespace" => "nowrap", "data-x" => "['left','left','left','left']", "data-y" => "['middle','middle','middle','middle']"}
          %p
            Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi,
            %br/
            aliquet sit amet, euismod in,auctor ut, ligula.
        / - - - - - - - - - - - - - End of Layer 2 - - - - - - - - - - - - - - - -
        / - - - - - - - - - - - - - Layer 2 - - - - - - - - - - - - - - - -
        .tp-caption.tp-resizeme{"data-elementdelay" => "0.05", "data-frames" => "[{\"delay\":750,\"speed\":2000,\"frame\":\"0\",\"from\":\"y:50px;opacity:0;\",\"to\":\"o:1;\",\"ease\":\"Power3.easeOut\"},{\"delay\":\"wait\",\"speed\":1000,\"frame\":\"999\",\"to\":\"y:[175%];\",\"mask\":\"x:inherit;y:inherit;s:inherit;e:inherit;\",\"ease\":\"Power2.easeInOut\"}]", "data-hoffset" => "750", "data-responsive_offset" => "on", "data-voffset" => "20", "data-whitespace" => "nowrap", "data-x" => "['left','left','left','left']", "data-y" => "['middle','middle','middle','middle']"}
          %a.btn.btn-big.btn-style-2{:href => "#"} Contact Us Today!
        / - - - - - - - - - - - - - End of Layer 2 - - - - - - - - - - - - - - - -
  .brand-holder
    .container.extra
      .flex-row.flex-justify.flex-center
        %a{:href => "#"}
          %img{:alt => "", :src => "#{asset_path 'stock/brand1.png'}"}/
        %a{:href => "#"}
          %img{:alt => "", :src => "#{asset_path 'stock/brand2.png'}"}/
        %a{:href => "#"}
          %img{:alt => "", :src => "#{asset_path 'stock/brand3.png'}"}/
        %a{:href => "#"}
          %img{:alt => "", :src => "#{asset_path 'stock/brand4.png'}"}/
        %a{:href => "#"}
          %img{:alt => "", :src => "#{asset_path 'stock/brand5.png'}"}/
/ - - - - - - - - - - - - - End of Slider - - - - - - - - - - - - - - - -
.call-out
  .container.extra
    .flex-row.flex-justify.flex-center
      %h2 Застукала любовница с женой?
      %a.btn.btn-big.btn-style-6{:href => "#"} Мы можем помочь!
/ page section
.page-section
  .container.extra
    .content-element5
      .align-center
        .pre-title Practice Areas
        %h2.section-title
          How We Can Help You
          %span.item-divider-3.style-3
    .carousel-type-2
      .owl-carousel.services.flex-row{"data-item-margin" => "30", "data-max-items" => "4"}
        / owl item
        .owl-item
          / service item
          .service-item
            %figure
              %img{:alt => "", :src => "#{asset_path 'stock/289x224_img1.jpg'}"}
              .service-body
                %h5.service-title
                  %a{:href => "#"} Industrial Injury
                %p Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, elementum vel, cursus eleifend, elit.
                %a.info-btn{:href => "#"} Read more
          / owl item
        .owl-item
          / service item
          .service-item
            %figure
              %img{:alt => "", :src => "#{asset_path 'stock/289x224_img2.jpg'}"}
              .service-body
                %h5.service-title
                  %a{:href => "#"} Personal Injury
                %p Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl.
                %a.info-btn{:href => "#"} Read more
        / owl item
        .owl-item
          / service item
          .service-item
            %figure
              %img{:alt => "", :src => "#{asset_path 'stock/289x224_img3.jpg'}"}
              .service-body
                %h5.service-title
                  %a{:href => "#"} Insurance Claims
                %p Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci .
                %a.info-btn{:href => "#"} Read more
        / owl item
        .owl-item
          / service item
          .service-item
            %figure
              %img{:alt => "", :src => "#{asset_path 'stock/289x224_img4.jpg'}"}
              .service-body
                %h5.service-title
                  %a{:href => "#"} Business  Real Estate
                %p Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, elementum vel, cursus eleifend, elit.
                %a.info-btn{:href => "#"} Read more
      .align-center
        %a.btn{:href => "#"} View All Practice Areas
/ Page section
.page-section-bg2.half-bg-col
  .img-col-left
    .col-bg{"data-bg" => "#{asset_path 'stock/960x840_img1.jpg'}"}
  .container.extra
    .row
      .col-md-6
      .col-md-6
        .pre-title Why Choose Hicks  Hynson
        %h2.section-title
          3 Reasons to Hire Us
          %span.item-divider-3.style-3
        .icons-box.style-2
          .row.flex-row
            .col-sm-12
              / - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - -
              .icons-wrap
                .icons-item
                  .item-box
                    %i.licon-balance
                    %h5.icons-box-title
                      %a{:href => "#"} Experienced
                    %p Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.
            .col-sm-12
              / - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - -
              .icons-wrap
                .icons-item
                  .item-box
                    %i.licon-man
                    %h5.icons-box-title
                      %a{:href => "#"} FOCUSED ON YOU
                    %p Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel.
            .col-sm-12
              / - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - -
              .icons-wrap
                .icons-item
                  .item-box
                    %i.licon-briefcase
                    %h5.icons-box-title
                      %a{:href => "#"} REPUTATION
                    %p Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus.
/ Page section
.page-section-bg2.green.half-bg-col
  .img-col-right
    .col-bg{"data-bg" => "#{asset_path 'stock/960x644_img1.jpg'}"}
  .container.extra
    .row
      .col-md-6
        .pre-title About Us
        %h2.section-title
          Who We Are
          %span.item-divider-3.style-3
        %h5.sub-title Experience You Need. Results You Want.
        %p.section-text Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.
        %a.btn{:href => "#"} More About Us
      .col-md-6
/ page section
.page-section
  .container
    .content-element5
      .align-center
        .pre-title Our Team
        %h2.section-title
          Meet Our Attorneys
          %span.item-divider-3.style-3
        %p
          Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor,
          %br dapibus eget, elementum vel, cursus eleifend,
    .carousel-type-2
      .owl-carousel.team-holder.style-3{"data-item-margin" => "30", "data-max-items" => "3"}
        / owl item
        .owl-item
          / team member
          .team-item
            .team-member
              %a.member-photo{:href => "#"}
                %img{:alt => "", :src => "#{asset_path 'stock/480x532_photo1.jpg'}"}
                .team-desc
                  .member-info
                    %h5.member-name
                      %a{:href => "#"} Sam Hicks
                    %h6.member-position Personal Injury
                    %p Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat
                    %a.btn{:href => "#"} View Profile
        / owl item
        .owl-item
          / team member
          .team-item
            .team-member
              %a.member-photo{:href => "#"}
                %img{:alt => "", :src => "#{asset_path 'stock/480x532_photo2.jpg'}"}
                .team-desc
                  .member-info
                    %h5.member-name
                      %a{:href => "#"} Bradley Hynson
                    %h6.member-position Estate Planning
                    %p Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat
                    %a.btn{:href => "#"} View Profile
        / owl item
        .owl-item
          / team member
          .team-item
            .team-member
              %a.member-photo{:href => "#"}
                %img{:alt => "", :src => "#{asset_path 'stock/480x532_photo3.jpg'}"}
                .team-desc
                  .member-info
                    %h5.member-name
                      %a{:href => "#"} Jessica Priston
                    %h6.member-position Criminal Defense
                    %p Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat
                    %a.btn{:href => "#"} View Profile
/ page section
.page-section-bg{"data-bg" => "#{asset_path 'stock/1920x1000_bg2.jpg'}"}
  .container
    .content-element5
      .align-center
        .pre-title Testimonials
        %h2.section-title
          What Our Clients Say
          %span.item-divider-3.style-3
    / - - - - - - - - - - - - Owl-Carousel - - - - - - - - - - - - - - -
    .carousel-type-1.style-2
      .owl-carousel.testimonial-holder.align-center{"data-autoplay" => "true", "data-item-margin" => "30", "data-max-items" => "1"}
        / Slide
        .item-carousel
          / Carousel Item
          / - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - -
          .testimonial
            %blockquote
              %p Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus.
              .author Mark Johnson, Real Estate Client
          / /Carousel Item
        / /Slide
        / Slide
        .item-carousel
          / Carousel Item
          / - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - -
          .testimonial
            %blockquote
              %p Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus.
              .author Mark Johnson, Real Estate Client
          / /Carousel Item
        / /Slide
        / Slide
        .item-carousel
          / Carousel Item
          / - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - -
          .testimonial
            %blockquote
              %p Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus.
              .author Mark Johnson, Real Estate Client
          / /Carousel Item
        / /Slide
      .align-center
        %a.btn.btn-style-2{:href => "#"} More Testimonials
/ page section
.page-section-bg.type-2.parallax-section{"data-bg" => "#{asset_path 'stock/1920x800_bg1.jpg'}"}
  .container.extra
    .row.counter-wrap.style-2
      .col-lg-3.col-md-3.col-xs-6
        .counter
          .count-item
            %span.licon-hammer2
            %h3.timer.count-number{"data-speed" => "1500", "data-to" => "50"} 0
          %p Years of Experience
      .col-lg-3.col-md-3.col-xs-6
        .counter
          .count-item
            %span.licon-happy
            %h3.timer.count-number{"data-speed" => "1500", "data-to" => "389"} 0
          %p Satisfied Clients
      .col-lg-3.col-md-3.col-xs-6
        .counter
          .count-item
            %span.licon-group-work
            %h3.timer.count-number{"data-speed" => "1500", "data-to" => "15"} 0
          %p Attorneys in Our Team
      .col-lg-3.col-md-3.col-xs-6
        .counter
          .count-item
            %span.licon-trophy2
            %h3.timer.count-number{"data-speed" => "1500", "data-to" => "227"} 0
          %p Successful Case Results
/ page section
.page-section
  .container
    .content-element5
      .align-center
        .pre-title From the blog
        %h2.section-title
          Latest Articles
          %span.item-divider-3.style-3
    .entry-box
      .flex-row.row
        .col-sm-4.col-xs-6
          / entry
          .entry
            / - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - -
            .thumbnail-attachment
              %a{:href => "#"}
                %img{:alt => "", :src => "#{asset_path 'stock/360x252_img1.jpg'}"}/
              / - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - -
              .entry-body
                .entry-meta
                  %time.entry-date{:datetime => "2018-10-24"} 24 October 2018
                  %a.entry-cat{:href => "#"} news
                %h5.entry-title
                  %a{:href => "#"} Ut Enim Ad Minima Veniam, Quis Nostrum
        .col-sm-4.col-xs-6
          / entry
          .entry
            / - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - -
            .thumbnail-attachment
              %a{:href => "#"}
                %img{:alt => "", :src => "#{asset_path 'stock/360x252_img2.jpg'}"}/
              / - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - -
              .entry-body
                .entry-meta
                  %time.entry-date{:datetime => "2018-10-21"} 21 October 2018
                  %a.entry-cat{:href => "#"} case studies
                %h5.entry-title
                  %a{:href => "#"} Aliquam Erat Volutpat Duis Ac Turpis
        .col-sm-4.col-xs-6
          / entry
          .entry
            / - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - -
            .thumbnail-attachment
              %a{:href => "#"}
                %img{:alt => "", :src => "#{asset_path 'stock/360x252_img3.jpg'}"}/
              / - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - -
              .entry-body
                .entry-meta
                  %time.entry-date{:datetime => "2018-10-15"} 15 October 2018
                  %a.entry-cat{:href => "#"} events
                %h5.entry-title
                  %a{:href => "#"} Fusce Euismod Consequat Ante Consectetuer
      .align-center
        %a.btn{:href => "#"} More News
/ Page section
.page-section.half-bg-col.two-cols
  .img-col-left
    .col-bg.left-bg{"data-bg" => "#{asset_path 'stock/960x616_bg1.jpg'}"}
  .img-col-right
    .col-bg.right-bg{"data-bg" => "#{asset_path 'stock/960x616_bg2.jpg'}"}
  .container.extra
    .row
      .col-md-6.col-sm-12.left-col
        .pre-title Helping Where It Counts
        %h2.section-title
          Areas Served
          %span.item-divider-3.style-3
        %p.section-text
          Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit
          %br
            amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris
            %br fermentum dictum magna. Sed laoreet aliquam leo.
    .row
      .col-xs-6
        %ul.custom-list.type-1
          %li
            %a{:href => "#"} Hudson County
          %li
            %a{:href => "#"} Hoboken
          %li
            %a{:href => "#"} Union City
      .col-xs-6
        %ul.custom-list.type-1
          %li
            %a{:href => "#"} Bayonne
          %li
            %a{:href => "#"} North Bergen
          %li
            %a{:href => "#"} West New York
.page-section-bg2.col-md-6.col-sm-12.right-col
  .align-center
    .pre-title We are here to fight for you
    %h2.section-title
      Call Us Today
      %span.item-divider-3.style-3
    .content-element3
      %ul.contact-info
        %li.info-item
          .item-info
            %span{:content => "telephone=no"} 987.654.3210
    .content-element3 OR
    %a.btn.btn-big.btn-style-5{:href => "#"} Request Free Consultation
