/ Page section
.page-section
  .container
    .align-center
      .pre-title Experience You Need. Results You Want.
      %h2.section-title
        The Attorneys You Want On Your Side
        %span.item-divider-3.style-3
      %p
        Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit
        %br/
        amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris
        %br/
        fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget,
        %br/
        elementum vel, cursus eleifend, elit.
      %a.btn{:href => "#"} More About Us
/ Page section
.page-section-bg
  .container
    .content-element5
      .align-center
        .pre-title Practice Areas
        %h2.section-title
          How We Can Help You
          %span.item-divider-3.style-3
    .icons-box.style-1.type-3
      .flex-row.fx-col-3
        / - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - -
        .icons-wrap
          .icons-item
            .item-box
              %i.licon-bandages
              %h5.icons-box-title
                %a{:href => "#"} Personal Injury
              %ul.custom-list
                %li
                  %a{:href => "#"} Auto Accidents
                %li
                  %a{:href => "#"} Bicycle Accidents
                %li
                  %a{:href => "#"} Brain Injury
                %li
                  %a{:href => "#"} Dog Bites
                %li
                  %a{:href => "#"} Motorcycle Accidents
              %a.btn{:href => "#"} View All
        / - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - -
        .icons-wrap
          .icons-item
            .item-box
              %i.licon-factory2
              %h5.icons-box-title
                %a{:href => "#"} Industrial Injury
              %ul.custom-list
                %li
                  %a{:href => "#"} Plant &amp; Refinery Accidents
                %li
                  %a{:href => "#"} Mesothelioma/Asbestosis
                %li
                  %a{:href => "#"} Workplace Injury
                %li
                  %a{:href => "#"} Work Accidents
                %li
                  %a{:href => "#"} Workplace Safety
              %a.btn{:href => "#"} View All
        / - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - -
        .icons-wrap
          .icons-item
            .item-box
              %i.licon-shield
              %h5.icons-box-title
                %a{:href => "#"} Insurance Claims
              %ul.custom-list
                %li
                  %a{:href => "#"} Catastrophic Property Loss
                %li
                  %a{:href => "#"} Hurricane Harvey Claims
                %li
                  %a{:href => "#"} Types of Insurance Claims
                %li
                  %a{:href => "#"} Basic Insurer Requirements
                %li
                  %a{:href => "#"} Disability Policy Underwriters
              %a.btn{:href => "#"} View All
/ Page section
.page-section-bg2.half-bg-col.two-cols
  .img-col-left
    .col-bg.left-bg{"data-bg" => "#{asset_path 'stock/960x560_bg1.jpg'} "}
  .img-col-right
    .col-bg.right-bg{"data-bg" => "#{asset_path 'stock/960x560_bg2.jpg'} "}
  .container.extra2
    .row
      .col-md-6.col-sm-12.left-col
        .pre-title Helping Where It Counts
        %h2.section-title
          Successful Case Results
          %span.item-divider-3.style-3
        %p
          Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit
          %br/
          amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris
          %br/
          fermentum dictum magna. Sed laoreet aliquam leo.
        %a.btn{:href => "#"} More Case Results
      .col-md-6.col-sm-12.right-col
        .icons-box.price-box.align-center.style-1
          .flex-row.fx-col-2
            / - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - -
            .icons-wrap
              .icons-item
                .item-box
                  %h2.price $27M
                  %p Settlement Won for Injured Worker
            / - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - -
            .icons-wrap
              .icons-item
                .item-box
                  %h2.price $22M
                  %p Settlement Won for Injured Worker
            / - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - -
            .icons-wrap
              .icons-item
                .item-box
                  %h2.price $19M
                  %p Settlement Won for Injured Worker
            / - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - -
            .icons-wrap
              .icons-item
                .item-box
                  %h2.price $13M
                  %p Settlement Won for Injured Worker
/ Page section
.page-section.no-bts
  .content-element5
    .container
      .align-center
        .pre-title Our Team
        %h2.section-title
          Meet Our Attorneys
          %span.item-divider-3.style-3
        %p
          Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor,
          %br/
          dapibus eget, elementum vel, cursus eleifend, elit.
  .carousel-type-2
    .team-holder.style-2.owl-carousel.var2{"data-max-items" => "4"}
      .owl-item
        / team element
        .team-item
          .team-member
            .member-photo
              %img{:alt => "", :src => "#{asset_path 'stock/480x532_photo1.jpg'} "}/
            .team-desc.overlay
              .member-info
                %h5.member-name
                  %a{:href => "#"} Sam Hicks
                %h6.member-position Personal Injury
                %a.btn{:href => "#"} View Profile
      .owl-item
        / team element
        .team-item
          .team-member
            .member-photo{:href => "#"}
              %img{:alt => "", :src => "#{asset_path 'stock/480x532_photo2.jpg'} "}/
            .team-desc.overlay
              .member-info
                %h5.member-name
                  %a{:href => "#"} Bradley Hynson
                %h6.member-position Estate Planning
                %a.btn{:href => "#"} View Profile
      .owl-item
        / team element
        .team-item
          .team-member
            .member-photo{:href => "#"}
              %img{:alt => "", :src => "#{asset_path 'stock/480x532_photo3.jpg'} "}/
            .team-desc.overlay
              .member-info
                %h5.member-name
                  %a{:href => "#"} Jessica Priston
                %h6.member-position Criminal Defense
                %a.btn{:href => "#"} View Profile
      .owl-item
        / team element
        .team-item
          .team-member
            .member-photo{:href => "#"}
              %img{:alt => "", :src => "#{asset_path 'stock/480x532_photo4.jpg'} "}/
            .team-desc.overlay
              .member-info
                %h5.member-name
                  %a{:href => "#"} Marta Healy
                %h6.member-position Business &amp; Real Estate
                %a.btn{:href => "#"} View Profile
/ Page section
.page-section-bg2.parallax-section{"data-bg" => "#{asset_path 'stock/1920x1000_bg1.jpg'} "}
  .container.extra
    .content-element5
      .align-center
        .pre-title Testimonials
        %h2.section-title
          What Our Clients Say
          %span.item-divider-3.style-3
    / - - - - - - - - - - - - Owl-Carousel - - - - - - - - - - - - - - -
    .carousel-type-1
      .owl-carousel.testimonial-holder{"data-autoplay" => "true", "data-item-margin" => "60", "data-max-items" => "2"}
        / Slide
        .item-carousel
          / Carousel Item
          / - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - -
          .testimonial
            %blockquote
              %p Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh.
              .author Mark Johnson, Real Estate Client
          / /Carousel Item
        / /Slide
        / Slide
        .item-carousel
          / Carousel Item
          / - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - -
          .testimonial
            %blockquote
              %p Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue.
              .author John Doe, Real Estate Client
          / /Carousel Item
        / /Slide
        / Slide
        .item-carousel
          / Carousel Item
          / - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - -
          .testimonial
            %blockquote
              %p Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh.
              .author Mark Johnson, Real Estate Client
          / /Carousel Item
        / /Slide
        / Slide
        .item-carousel
          / Carousel Item
          / - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - -
          .testimonial
            %blockquote
              %p Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue.
              .author John Doe, Real Estate Client
          / /Carousel Item
        / /Slide
        / Slide
        .item-carousel
          / Carousel Item
          / - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - -
          .testimonial
            %blockquote
              %p Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh.
              .author Mark Johnson, Real Estate Client
          / /Carousel Item
        / /Slide
        / Slide
        .item-carousel
          / Carousel Item
          / - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - -
          .testimonial
            %blockquote
              %p Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue.
              .author John Doe, Real Estate Client
          / /Carousel Item
        / /Slide
      .align-center
        %a.btn{:href => "#"} More Testimonials
/ Page section
.page-section.half-bg-col.two-cols
  .img-col-left
    .col-bg.page-section-bg.left-bg-2
  .container
    .row
      .col-md-6.col-sm-12.left-col-2
        .pre-title Frequently Asked Questions
        %h2.section-title
          Questions &amp; Answers
          %span.item-divider-3.style-3
        .accordion.style-2
          / accordion item
          .accordion-item
            %h5.a-title Ut enim ad minima veniam, quis nostrum?
            .a-content
              %p
                Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.
          / accordion item
          .accordion-item
            %h5.a-title.active Donec sagittis euismod purus?
            .a-content
              %p
                Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.
          / accordion item
          .accordion-item
            %h5.a-title Aliquam dapibus tincidunt metus?
            .a-content
              %p
                Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.
          / accordion item
          .accordion-item
            %h5.a-title Vestibulum ante ipsum primis in faucibus?
            .a-content
              %p
                Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.
          / accordion item
          .accordion-item
            %h5.a-title Ut pharetra augue nec augue?
            .a-content
              %p
                Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.
          / accordion item
          .accordion-item
            %h5.a-title Donec eget tellus non erat lacinia fermentum?
            .a-content
              %p
                Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.
          / accordion item
          .accordion-item
            %h5.a-title Mauris accumsan nulla vel diam?
            .a-content
              %p
                Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.
        %a.btn{:href => "#"} More Questions &amp; Answers
      .col-md-6.col-sm-12.right-col-2
        .pre-title From the blog
        %h2.section-title
          Latest Articles
          %span.item-divider-3.style-3
        .entry-box.entry-small
          / entry
          .entry
            / - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - -
            .thumbnail-attachment
              %a{:href => "#"}
                %img{:alt => "", :src => "#{asset_path 'stock/233x168_img1.jpg'} "}/
            / - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - -
            .entry-body
              .entry-meta
                %time.entry-date{:datetime => "2018-10-24"} 24 October 2018
                %a.entry-cat{:href => "#"} news
              %h5.entry-title
                %a{:href => "#"} Ut Enim Ad Minima Veniam, Quis Nostrum
          / entry
          .entry
            / - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - -
            .thumbnail-attachment
              %a{:href => "#"}
                %img{:alt => "", :src => "#{asset_path 'stock/233x168_img2.jpg'} "}/
            / - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - -
            .entry-body
              .entry-meta
                %time.entry-date{:datetime => "2018-10-21"} 21 October 2018
                %a.entry-cat{:href => "#"} case studies
              %h5.entry-title
                %a{:href => "#"} Aliquam Erat Volutpat Duis Ac Turpis
          / entry
          .entry
            / - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - -
            .thumbnail-attachment
              %a{:href => "#"}
                %img{:alt => "", :src => "#{asset_path 'stock/233x168_img3.jpg'} "}/
            / - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - -
            .entry-body
              .entry-meta
                %time.entry-date{:datetime => "2018-10-15"} 15 October 2018
                %a.entry-cat{:href => "#"} events
              %h5.entry-title
                %a{:href => "#"} Fusce Euismod Consequat Ante Consectetuer
        %a.btn{:href => "#"} More News
/ Page section
.page-section-bg2.parallax-section{"data-bg" => "#{asset_path 'stock/1920x1000_bg3.jpg'} "}
  .container
    .row
      .col-md-4.col-sm-12
        %h2.section-title
          Do You Have a Case?
          %span.item-divider-3.style-3
        %p Get your free case review within 24 hours. All Fields Required.
      .col-md-8.col-sm-12
        %form#contact-form.contact-form
          .flex-row
            .col-sm-4
              %input{:name => "cf-name", :placeholder => "Name *", :required => "", :type => "text"}/
            .col-sm-4
              %input{:name => "cf-phone", :placeholder => "Phone *", :required => "", :type => "tel"}/
            .col-sm-4
              %input{:name => "cf-email", :placeholder => "Email *", :required => "", :type => "email"}/
            .col-sm-12
              %textarea{:name => "cf-message", :placeholder => "Message *", :required => "", :rows => "3"}
            .col-sm-12
              %button.btn.btn-style-2{"data-type" => "submit", :type => "submit"} Submit
/ Page section
.page-section.type-2
  .carousel-type-2
    .owl-carousel.brand-box{"data-item-margin" => "0", "data-max-items" => "5"}
      / owl item
      .brand-item
        %a{:href => "#"}
          %img{:alt => "", :src => "#{asset_path 'stock/brand1.jpg'} "}/
      / owl item
      .brand-item
        %a{:href => "#"}
          %img{:alt => "", :src => "#{asset_path 'stock/brand2.jpg'} "}/
      / owl item
      .brand-item
        %a{:href => "#"}
          %img{:alt => "", :src => "#{asset_path 'stock/brand3.jpg'} "}/
      / owl item
      .brand-item
        %a{:href => "#"}
          %img{:alt => "", :src => "#{asset_path 'stock/brand4.jpg'} "}/
      / owl item
      .brand-item
        %a{:href => "#"}
          %img{:alt => "", :src => "#{asset_path 'stock/brand5.jpg'} "}/
/ - - - - - - - - - - - - end Content - - - - - - - - - - - - - - -