%h2 Новый запрос на сайте

%p="Тип запроса: #{@subject}"

%p="Имя: #{@request.name}"

%p="Телефон: #{@request.phone}"

-if @request.email.present?
  %p="Email: #{@request.email}"

%p="Запрос пришел со страницы: #{@request.page_reference}."

%p="Текст сообщения: #{@request.body}"
